@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Описание политики конфиденциальности сайта.</p>
<p>Privacy policy: <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">политика конфиденциальности</a>.</p>
